@import '../../styles/variables';

[data-component='Button'] {
  display: flex;
  align-items: center;
  gap: $spacing-base;
  font-family: $font-family-mono;
  font-size: $font-size-base;
  font-weight: 400;
  border: 1px solid $border-color;
  background-color: white;
  color: $text-muted;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  min-height: 2.25rem;
  transition: all $transition-speed ease-in-out;
  outline: none;

  &.button-style-action {
    background-color: $purple-50;
    border-color: $purple-100;
    color: #000;
  }

  &.button-style-alert {
    color: #dc2626;
    &:hover {
      border-color: #dc2626;
    }
  }

  &.button-style-outline {
    background-color: transparent;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not([disabled]) {
    cursor: pointer;
    &:hover {
      border-color: $purple-100;
    }
  }
}
